<div class="navbar bg-primary text-primary-content">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Recipes App</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="recipes" *ngIf="isAuthenticated">Recipes</a></li>
      <li><a routerLink="auth" *ngIf="!isAuthenticated">Authenticate</a></li>
      <li><a routerLink="shopping-list" *ngIf="isAuthenticated">Shopping List</a></li>
    </ul>
  </div>
</div>
<p *ngIf="isAuthenticated">Hello! {{email}}</p>
<main class="py-10 px-10">
  <router-outlet></router-outlet>
</main>
